.projectCard{
 background : var(--white-color);
 border-radius : 1rem ;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 border : 1px solid grey ;
 overflow: hidden;
 transition : all 400ms ease ;

}
.projectCard:hover {
 border-color : gainsboro ;
 background : transparent ;
}
.projectCard img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.projectDetails{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projectDetails>p{
    font-size: 1rem;
    width: 100%;
}
.projectButtons{
    margin: 0.7rem auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.toolsSection{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}
.toolsBox{
    display: flex;
    border:1px solid gainsboro;
    padding:5px;
    gap: 5px;
    border-radius:10px;
    justify-content: space-between;
}