.projectCard{
 background : #F9F9F9;
 border-radius : 1rem ;
 border : 1px solid transparent ;
 transition : all 400ms ease ;
}
.projectCard:hover {
 border-color : black ;
 background : transparent ;
}
.projectCard img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.projectDetails{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projectDetails>p{
    font-size: 1rem;
    width: 100%;
}
.projectButtons{
    margin: 0.7rem auto;
}