:root {
  /* --color-bg : #1f1f38 ; */
  --color-background: #eff4fd;
  --color-bg: #ffc234;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.4rem 1.7rem;
  z-index: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  transition: all 350ms ease-in;
}
nav a {
  text-decoration: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
  transition: all 350ms ease-in;
}

@media only screen and (max-width: 821px){
      nav a:hover{
        background: none;
      }
      nav{
        bottom: 1rem;
      }
}
/* Galaxy Fold */
@media only screen and (max-width: 280px) {
  nav {
    width: 90%;
    justify-content: space-evenly;
    gap: 0.5rem;
  }
  nav a {
    padding: 0.7rem;
    font-size: 1rem;
  }
  nav a:hover {
    background:none;
  }
}
